Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2

opencv-python-headless==4.8.1.78
Pillow==10.0.1

tensorflow==2.15.0
numpy==1.24.3
pandas==2.0.3

deepface==0.0.91
mtcnn==0.1.1
retina-face==0.0.17

requests==2.31.0
tqdm==4.66.4
gdown==5.2.0
fire==0.6.0
joblib==1.4.2

gunicorn==21.2.0
flask-cors==4.0.1

beautifulsoup4==4.12.3
charset-normalizer==3.3.2
certifi==2024.7.4
urllib3==2.2.2
idna==3.7

colorama==0.4.6
setuptools==69.5.1
wheel==0.43.0

protobuf==4.25.4
h5py==3.11.0
six==1.16.0
wrapt==1.16.0
astunparse==1.6.3
gast==0.5.4
google-pasta==0.2.0
opt-einsum==3.3.0
termcolor==2.4.0
typing-extensions==4.12.2
flatbuffers==24.3.25
ml-dtypes==0.2.0
absl-py==2.1.0
